tmp
.venv
.vscode
dist
*.sqlite3
*.egg-info
__pycache__
*.pyc
*.swp
*.swo
.#*
.coverage
development.py
htmlcov
static/css/base.css
static/css/base.css.map
media/sessions/exports
media/*.png
media/*.pdf
