dataclasses-json
Django==3.2.7
django-bootstrap5==2.1.2
django_bootstrap_icons
django-debug-toolbar
django-markdownx
git+https://github.com/betagouv/django-magicauth.git#django-magicauth
django-otp
django-sass-processor
kaleido
libsass
markdown
pandas
plotly
requests
