Django==3.2.7
git+https://github.com/betagouv/django-magicauth.git#django-magicauth
django-otp
django-sass-processor
libsass
django-bootstrap5
django_bootstrap_icons
django-debug-toolbar
requests
dataclasses-json
plotly
pandas
