{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load sass_tags %}
{% load gravatar %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ephemer</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% sass_src 'css/base.scss' %}" type="text/css" media="screen" />
        {% block css %}
        {% endblock %}
    </head>

    <body>
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <nav
            class="navbar navbar-expand-lg navbar-light navbar-light bg-white shadow-sm sticky-top"
            aria-label="Main navigation"
        >
            <div class="container-fluid">
                <a href="/" class="navbar-brand link-dark text-decoration-none">
                    <span class="ephemer-logo fw-semibold ">Ephemer</span>
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarScroll">
                    <a class="btn btn-primary mx-2" href="{% url 'experiments-participant-join-session' %}">
                        {% bs_icon 'door-open' size='16px'  %}
                        Rejoindre une session
                    </a>

                    <ul class="navbar-nav me-auto my-2 my-lg-0">

                        {% if user.is_authenticated %}
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{% url 'experiments-session-list' %}">
                                {% bs_icon 'play-circle' size='16px'  %}
                                Mes expériences
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{% url 'experiments-experiment-list' %}">
                                {% bs_icon 'stack' size='16px'  %}
                                Catalogue
                            </a>
                        </li>
                        {% endif %}

                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{% url 'home-guide' %}">
                                {% bs_icon 'book' size='16px'  %}
                                Guide d'utilisation
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{% url 'home-faq' %}">
                                {% bs_icon 'life-preserver' size='16px'  %}
                                Aide
                            </a>
                        </li>
                        <li class="nav-item mx-2">
                            <a class="nav-link" href="{% url 'home-contact' %}">
                                {% bs_icon 'envelope' size='16px'  %}
                                Contact
                            </a>
                        </li>
                    </ul>

                    <div id="user-info" class="pe-2">

                        {% if user.is_authenticated %}
                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                                <img
                                    src="{% gravatar_url user.email size='16px' %}"
                                    alt="{{ user.last_name }}"
                                    class="me-2 rounded-circle"
                                    style="width: 32px; height: 32px;"
                                />

                                <strong class="d-none d-lg-none d-xl-block">{{ user.get_full_name|default:user }}</strong>

                            </a>
                            <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">

                                <li><a class="dropdown-item" href="{% url 'logout' %}">Déconnexion</a></li>

                                <li><hr class="dropdown-divider"></li>

                                {% if user.is_staff %}
                                <li><a class="dropdown-item" href="/admin/">Administration</a></li>
                                {% endif %}

                            </ul>
                        </div>
                        {% else %}
                        <div>
                            <a class="nav-link" href="{% url 'magicauth-login' %}">
                                {% bs_icon 'person-circle' size='16px'  %}
                                Se connecter
                            </a>
                        </div>
                        {% endif %}
                    </div>
                </div>

        </nav>

        <main>

            <div class="container-fluid bg-white">
                <div class="row">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </main>

        <!-- QR code modal -->
        <div class="modal fade" id="qrCodeModal" tabindex="-1" aria-labelledby="qrCodeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row justify-content-end">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="row justify-content-center">
                                <img src="{% static "img/join-session-qr-code.png" %}"
                                     alt="A QR code to reach the join a session page.">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        {% bootstrap_javascript %}
        {% block javascript %}
        {% endblock %}
    </body>
</html>


