{% load django_bootstrap5 %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ephemer</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% sass_src 'css/base.scss' %}" type="text/css" media="screen" />
    </head>

    <body>
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <main>
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
                    <span class="fs-5 fw-semibold">Ephemer</span>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                            Notes
                        </button>
                        <div class="collapse show" id="home-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-dark rounded">XP1</a></li>
                                <li><a href="#" class="link-dark rounded">XP2</a></li>
                                <li><a href="#" class="link-dark rounded">XP3</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>

            <div>
                {% block content %}{% endblock %}
            </div>
        </main>
        {% bootstrap_javascript %}
    </body>
</html>


