{% load django_bootstrap5 %}
{% load bootstrap_icons %}
{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Ephemer</title>
        {% bootstrap_css %}
        <link rel="stylesheet" href="{% sass_src 'css/base.scss' %}" type="text/css" media="screen" />
        {% block css %}
        {% endblock %}
    </head>

    <body>
        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        <main>
            <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
                <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                    {% bs_icon 'cup-straw' size='25px' extra_classes='align-middle' %}
                    <span class="fs-5 fw-semibold ms-2 align-middle">Ephemer</span>
                </a>


                <ul class="list-unstyled ps-0">
                    {% if user.is_authenticated %}
                    <li class="mb-1">
                        <span class="fw-bold align-items-center rounded">Expériences</span>
                        <div class="show">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="{% url 'experiments-session-list' %}" class="link-dark rounded">Historique</a></li>
                                <li><a href="{% url 'experiments-experiment-list' %}" class="link-dark rounded">Catalogue d'XP</a></li>
                            </ul>
                        </div>
                    </li>
                    {% endif %}

                    <li class="mb-1">
                        <span class="fw-bold align-items-center rounded">A propos</span>
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{% url 'home-guide' %}" class="link-dark rounded">Guide d'utilisation</a></li>
                            <li><a href="{% url 'home-faq' %}" class="link-dark rounded">Aide</a></li>
                            <li><a href="{% url 'home-contact' %}" class="link-dark rounded">Contact</a></li>
                        </ul>
                    </li>
                </ul>

                <p class="fw-bold">Accès participant</p>
                <div class="bg-light rounded p-5">
                    <img class="img-fluid" src="{% static "img/join-session-qr-code.png" %}" alt="A QR code to reach the join a session page.">
                </div>

                {% if user.is_authenticated %}
                <div>
                    loggé en tant que :
                    {{ user.email }}
                    <a href="{% url 'logout' %}">Se déconnecter</a>
                </div>
                {% else %}
                <div>
                    <a href="{% url 'magicauth-login' %}">Se connecter</a>
                </div>
                {% endif %}
            </div>

            <div class="flex-grow-1 bg-white">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% bootstrap_javascript %}
        {% block javascript %}
        {% endblock %}
    </body>
</html>


