{% extends "base.html" %}

{% load static %}
{% load bootstrap_icons %}
{% load django_bootstrap5 %}

{% block content %}
<div class="col-9 py-5 mx-auto">

    <h2 class="mb-3 fw-bold">
        Besoin d'informations ?
        <br/>
        <span class="fs-2 fw-bold">Contactez-nous !</span>
    </h2>


    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}

        <button type="submit" class="btn btn-primary">
			      Envoyer mon message
		    </button>

    </form>

    {% if request.GET.next %}
    <p class="small mt-3">
        <a href="{{ request.GET.next }}" class="small">Annuler et revenir à la page précédente</a>
    </p>
    {% endif %}



</div>

{% endblock %}
