{% extends 'base.html' %}

{% load bootstrap_icons %}

{% block content %}
<div class="col-11  mx-auto py-4">
    <h3 class="fw-bold mb-4">Guide d'utilisation</h3>


    <div class="accordion p-4 mb-4 mt-2" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Qu’est-ce qu’une « expérience pédagogique » ?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Cette plateforme propose gratuitement des expériences à mobiliser dans un cadre pédagogique afin
                        d’aborder des questions éthiques et sociétales. Ces expériences renvoient à des « mises en
                        situation ». Plus précisément, les participants sont aléatoirement répartis dans différentes
                        conditions expérimentales (en d’autres termes, ils sont placés dans des situations différentes).
                        Dans ces différentes conditions expérimentales, les participants sont amenés à faire des choix,
                        indiquer leurs opinions, réaliser diverses tâches en lien avec le sujet traité.
                        L’intérêt de ces interventions est d’impliquer directement les étudiants en les mettant en
                        situation. Ainsi, plutôt que d’aborder les questions traitées sur la base d’exemples et de
                        situations plus ou moins abstraites, la plateforme EPHEMER permet de structurer les échanges
                        autour des réponses fournies par les étudiants, de confronter leurs intuitions à des résultats
                        concrets et parfois surprenants !</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Déroulement d’une expérience
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Chaque expérience présente sur cette plateforme est accompagnée d’une courte notice d’information
                        précisant notamment ses objectifs, sa durée, les modalités de discussion des résultats, etc. La
                        liste des expériences disponibles n’est pas fixe et de nouvelles expériences seront ajoutées par
                        la suite.
                        Une expérience suit généralement le même schéma de déroulement :</p>
                    <ul>
                        <li>Après s’être connecté à l’interface, les participants sont guidés par des consignes en
                            lien avec l’expérience mobilisée. Ces consignes peuvent renvoyer à une description de la
                            situation, à une tâche à réaliser à des questions, etc.
                        </li>
                        <li>A l’issue de l’expérience, un message indique aux participants que celle-ci est terminée.
                            De son côté, l’enseignant peut suivre de déroulement de l’expérience via son interface,
                            celle-ci indiquant l’état d’avancement de chaque participant.
                        </li>
                        <li>Lorsque l’expérience est terminée, les résultats de celle-ci sont automatiquement calculés
                            et un résumé de ceux-ci (généralement sous forme de graphique selon le type d’expérience)
                            est disponible en téléchargement dans l’espace de l’enseignant.
                        </li>
                        <li>Il est alors possible de diffuser ces résultats aux participants et d’échanger avec eux
                            autour de ceux-ci. Des conseils pour la lecture des fichiers de résultats et des pistes
                            d’interprétations sont proposés pour chaque expérience dans le cadre de la notice
                            d’information.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Comment lancer une expérience ?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Pour lancer une expérience dans le cadre de votre cours plusieurs étapes sont nécessaires :</p>
                    <ol>
                        <li>Se connecter : Que vous ayez déjà un compte ou non, pour vous connecter vous devez
                            cliquer sur « se connecter » à gauche de la page d’accueil de la plateforme. Vous arriverez
                            alors sur une page vous demandant de renseigner une adresse email. Si vous vous êtes déjà
                            connecté auparavant et avez déjà réaliser des expériences, veillez à bien renseigner la même
                            adresse email, cela vous permettra d’accéder aux données et résultats des expériences
                            antérieures. Après avoir renseigné votre adresse email vous recevrez un email (pensez à
                            vérifier également votre dossier « pourriel » ou « spam » si vous ne recevez pas l’email de
                            connexion). L’email reçu comprendra un lien temporaire qui vous permettra d’accéder à votre
                            espace personnel sur la plateforme.
                        </li>
                        <li>Choisir une expérience : Une fois connecté, un onglet « catalogue d’expériences »
                            apparaîtra sur la gauche de l’interface. Celui-ci conduit à une page recensant les
                            différentes expériences qu’il est possible de mobiliser dans un cadre pédagogique. D’autres
                            expériences devraient être ajoutée à cette liste par la suite. Pour chaque expérience, le
                            titre, les objectifs, la durée estimée et le nombre minimal de participants nécessaires sont
                            indiqués. Si vous souhaitez bénéficier de plus d’informations, vous pouvez également cliquer
                            sur chacune des expériences et accéder à la notice d’instructions l’accompagnant.
                        </li>
                        <li>Paramétrer une expérience : Cliquez sur l’expérience de votre choix. Vous arriverez alors
                            sur page décrivant l’expérience et vous proposant de télécharger la notice explicative
                            relative à celle-ci (la notice précise notamment la manière de discuter les résultats issus
                            de la passation de l’expérience). Cliquez ensuite sur « configurer et démarrer
                            l’expérience ». Il vous sera alors demandé de renseigner un nom pour la session créée. C’est
                            sous ce nom que l’expérience et ses données et résultats seront ensuite disponibles dans
                            votre espace personnel. Il vous sera également demandé de cocher une case autorisant
                            « Ethics » et l’Université Catholique de Lille, porteurs du projet à l’origine de cette
                            plateforme à accéder aux données issues de l’expérience. A ce niveau il convient de préciser
                            qu’il n’est pas possible de déterminer l’identité des personnes ayant participé aux
                            expériences ni d’identifier les comptes et adresses email liés à l’organisation de ces
                            expériences.
                        </li>
                        <li>Lancer suivre une expérience : Une fois les informations demandées validées, la session
                            sera ouverte et vous arriverez sur une page vous indiquant un code d’accès. Ce code est à
                            diffuser aux participant pour qu’ils puissent rejoindre la session qui a été créée. Pour
                            cela, les étudiants peuvent soit utiliser le QRcode présent sur le volet gauche de
                            l’interface, soit simplement rentrer l’adresse internet de l’interface dans leur navigateur.
                            Une fois arrivés sur la page d’accueil de l’interface, les participants devront alors
                            cliquer sur « rejoindre une session » renseigné le code que vous leur avez transmis et
                            l’expérience pourra ainsi commencer. Pendant le qui les participants réalisent l’expérience,
                            vous pourrez suivre l’évolution de celle-ci via la page de votre interface ? Celle-ci
                            présente différentes sections renvoyant à l’identifiant (attribué aléatoirement) de chaque
                            participant, son statut de connexion, l’étape de l’expérience où celui-ci se situe, le
                            statut de finalisation de l’expérimentation (indiquant si le participant a terminé), et
                            enfin la possibilité de « faire avancer » le participant. Cette dernière option permet de
                            faire sauter une étape de l’expérience à des participants semblant coincés à une étape
                            particulière. Si certains participants sont très en retard par rapport aux autres, cette
                            option peut alors permettre de « forcer leur avancée » afin de rejoindre le reste des
                            participants. Une telle action implique donc que les participants visés par celle-ci ne
                            pourront avoir connaissance de toutes les questions et tâche impliquées par l’expérience car
                            ils auront été conduits à « sauter » certaines parties.
                        </li>
                        <li>Consulter, afficher et débattre les résultats : Une fois l’expérience terminée, les
                            résultats sont automatiquement calculés et un fichier les présentant sous forme de
                            graphiques est édité. Ce fichier est disponible dans l’onglet « historique » situé sur la
                            gauche de l’interface (cet onglet apparaît uniquement lorsque vous êtes connectés). Cet
                            onglet mène à une page présentant les différentes sessions déjà ouvertes et leurs noms ainsi
                            que l’expérience sur laquelle celles-ci portaient, leur date de création, un fichier
                            comprenant l’ensemble des données de la session (format csv) et un fichier présentant les
                            résultats (format pdf). Ce fichier peut alors être transmis ou diffusé aux participants pour
                            explorer avec eux les résultats issus de leurs réponses. La notice d’instruction, propre à
                            chaque expérience donne alors les pistes d’interprétation principales de chaque graphique.
                            De manière générale, il est conseillé de commencer par expliquer la logique de construction
                            du graphique et la signification des différentes informations qu’il présente. Il est alors
                            possible de demander aux participants d’interpréter les résultats et de revenir avec eux sur
                            les pistes d’interprétations proposées par ces derniers en les mettant en parallèle avec
                            celles proposées dans la notice.
                        </li>
                    </ol>
                    <p>Si vous rencontrez un problème lors de ces différentes étapes, vous pouvez vous rendre dans la
                        section « AIDE » de la plateforme.</p>
                </div>
            </div>
        </div>
    </div>

    <h3 class="fw-bold">Vous avez toujours besoin d'aide ?</h3>

    <a href="{% url 'home-faq' %}" class="btn btn-primary">Découvrir la rubrique d'aide</a>
    <a href="{% url 'home-contact' %}" class="btn btn-primary">Contactez-nous</a>

</div>
{% endblock %}
