{% extends "base.html" %}

{% block content %}
<div class="p-5">

<div style="height: 30vh" class="rounded bg-secondary text-center text-white mb-5">
    <p class="fs-4">MOT DE BIENVENUE</p>
</div>

<div style="height: 30vh" class="rounded bg-secondary text-center text-white mb-5">
    <p class="fs-4">S'INSCRIRE GRATUITEMENT</p>
</div>

<div style="height: 30vh" class="rounded bg-secondary text-center text-white mb-5">
    <a href="{% url 'experiments-participant-join-session' %}
"><p class="fs-4">REJOINDRE UNE SESSION</p></a>
</div>

<div style="height: 30vh" class="rounded bg-secondary text-center text-white">
    <p class="fs-4">DÉROULEMENT DE L'UTILISATION</p>
</div>

</div>

{% endblock %}
