{% extends "base.html" %}

{% block content %}
    <style>
    #home ul li {
        list-style: square;
    }
    </style>

    <div id="home" class="p-5 container-sm fs-4">

        <div class="rounded bg-light text-dark mb-5 px-5 py-3">
            <p class="fs-4"><strong>Bienvenue</strong> sur la plateforme d’expérimentations pédagogiques EPHEMER ! Ce site vous permet de
                réaliser des interventions innovantes en faisant participer vos étudiants à des mises en situation
                visant à aborder différentes questions :</p>
            <ul class="fs-4">
                <li>les enjeux éthiques liés au développement des nouvelles technologies,</li>
                <li>la déformation de l’information et les fake news,</li>
                <li>le rapport à l’impôt et l’évasion fiscale,</li>
                <li>et encore d'autres sujets.</li>
            </ul>
            <p class="text-center">Plus d’informations dans <a href="{% url 'home-guide' %}">notre guide d'utilisation</a>.</p>
        </div>

        <div class="rounded bg-light text-dark mb-5 px-5 py-3">
            <h2>Comment s'inscrire ?</h2>
            <p class="fs-4">Pour lancer une expérience pédagogique pendant votre cours, vous devez d’abord vous
                connecter. Pour cela, il suffit juste de cliquer sur « se connecter » sur la gauche de cette page. Vous
                serez alors invité à renseigner une adresse email qui vous permettra de recevoir un lien de connexion. Une fois
                connecté à la plateforme, vous pourrez :</p>
            <ul>
                <li>accéder à la liste des expériences possibles ;</li>
                <li>lancer une expérience et inviter vos étudiants à y participer ;</li>
                <li>accéder aux résultats de cette expérience et des expériences précédentes (les résultats sont
                    archivés
                    sur votre espace, accessible avec la même adresse email).
                </li>
            </ul>
        </div>

        <div class="rounded text-center mb-5">
            <p>Vous êtes un participant ?</p>
            <a class="btn btn-primary" href="{% url 'experiments-participant-join-session' %}">REJOINDRE UNE SESSION</a>
        </div>

        <div class="rounded bg-light mb-4 px-5 py-3">
            <h2>Déroulement de l'utilisation</h2>
            <ol>
                <li>Connectez-vous à la plateforme.</li>
                <li>Choisissez l’expérience qui vous intéresse dans le catalogue des expériences.</li>
                <li>Après avoir configuré et lancé l’expérience, diffusez le code de participation aux étudiants.
                    Ceux-ci peuvent alors accéder à la plateforme via le QRcode présenté à gauche de cette page. Une
                    fois sur le site et après avoir cliqué sur « rejoindre une session » et renseigné le code,
                    l’expérience se lance.
                </li>
                <li>Vous pouvez alors suivre le déroulement de l’expérience et vérifier l’état d’avancement des
                    étudiants.
                </li>
                <li>Une fois l’expérience terminée, vous pouvez lancer l’édition des résultats et débattre autour de
                    ceux-ci et des réflexions qu’ils impliquent avec les étudiants.
                </li>
            </ol>
            <p class="fs-4">→ Pour plus d’information, vous pouvez consulter <a href="{% url "home-guide" %}">le guide
                d’utilisation.</a></p>
        </div>

        <div class="rounded bg-secondary text-center text-white p-2">
            <p class="fs-6">Cette plateforme a été développée dans le cadre du projet EPHEMER (Ethique et Pédagogie
                Holoptique pour un EnseigneMEnt en Réseau), financé par l’Agence Nationale de la Recherche (PIA,
                ANR-16-DUNE-0004). Une présentation détaillée du projet EPHEMER est disponible ici</p>
        </div>

    </div>

{% endblock %}
